<h2>Last 10 Blocks</h2>
<div id="table-block-list" class="">
    <table class="table table-striped table-sm">
        <thead>
        <tr>
            <th>Timestamp</th>
            <th>Producer</th>
            <th>Block Number</th>
            <th>Block ID</th>
            <th>Confirmed</th>
            <th>Transactions</th>
        </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>