
<table id="chain-table-one" class="table table-striped table-sm">
    <thead>
    <tr>
        <th>Server Version</th>
        <th>Chain ID</th>
        <th>Virt CPU Limit</th>
        <th>Virt Net Limit</th>
        <th>Block CPU Limit</th>
        <th>Block Net Limit</th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ data.server_version_string }}</td>
            <td>{{ data.chain_id }}</td>
            <td>{{ data.virtual_block_cpu_limit }}</td>
            <td>{{ data.virtual_block_net_limit }}</td>
            <td>{{ data.block_cpu_limit }}</td>
            <td>{{ data.block_net_limit }}</td>
        </tr>
    </tbody>
</table>
<table id="chain-table-two" class="table table-striped table-sm">
    <thead>
    <tr>
        <th>Head Block Number</th>
        <th>Head Block ID</th>
        <th>Head Block Time</th>
        <th>Head Block Producer</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{ data.head_block_num }}</td>
        <td>{{ data.head_block_id }}</td>  
        <td>{{ head_block_time }}</td>
        <td>{{ data.head_block_producer }}</td>
    </tr>
    </tbody>
</table>